@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Font Family
@main-font: "Poppins", sans-serif;

//  Color
@primary-color: #fff;
@secondary-color: #f2f2f2;
@accent-color: #62a658;
@text-color: #000;
@text-color-2: #333;
@grey: #dddddd;
@input-bg: #f5f5f5;
@misc: #ffcc40;

// Length
@length-sm-1: 0.4rem;
@length-sm-2: 0.8rem;
@length-sm-3: 1.2rem;

@length-md-1: 1.6rem;
@length-md-2: 2rem;
@length-md-3: 2.4rem;

@length-lg-1: 3.2rem;
@length-lg-2: 4.8rem;
@length-lg-3: 6.4rem;

//Typo
@line-height: 1.6;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: @primary-color;
  font-size: 1.6rem;
  font-family: @main-font;
  line-height: @line-height;
}

::selection {
  background-color: @accent-color;
  color: @primary-color;
}

.top {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 3rem;
  box-shadow: 0 3px 0.6rem rgba(0, 0, 0, 0.2);
  color: @primary-color;
  cursor: pointer;
  .fw(500);

  &.active {
    display: block;
  }
}

.text-transform(@transform) {
  text-transform: @transform;
}

.text-align(@align) {
  text-align: @align;
}

.fw(@weight) {
  font-weight: @weight;
}

.container {
  margin: 0 auto;
  width: 120rem;
  max-width: 120rem;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.width(@width) {
  width: @width;
}

.ml(@left) {
  margin-left: @left;
}

.mr(@right) {
  margin-right: @right;
}

.mt(@top) {
  margin-top: @top;
}

.mb(@bottom) {
  margin-bottom: @bottom;
}

.pl(@left) {
  padding-left: @left;
}

.pr(@right) {
  padding-right: @right;
}

.pt(@top) {
  padding-top: @top;
}

.pb(@bottom) {
  padding-bottom: @bottom;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

// btn
.btn {
  display: inline-block;
  background: none;
  border: none;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  height: 3.5rem;

  &__accent {
    background-color: @accent-color;
    color: @primary-color;
    padding: @length-sm-2 @length-md-3;
  }
}

// Header
.nav {
  &__top {
    display: flex;
    justify-content: space-between;
    padding: @length-sm-1 @length-md-2;
    border-top: 2px solid @grey;
    border-bottom: 2px solid @grey;
  }

  &__logo {
    width: 15rem;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__item,
  &__misc {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__list {
    .mr(@length-md-3);
  }

  &__link {
    color: @text-color;
    .text-transform(capitalize);
    font-size: 1.4rem;
    .fw(500);

    & span {
      margin: 0 @length-sm-1;
    }
  }

  &__misc {
    & li {
      .mr(@length-md-3);
      width: 5rem;
      height: 5rem;
      cursor: pointer;

      &.day {
        border: 2px solid @grey;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
          width: 2.5rem;
        }
      }

      & img {
        width: 100%;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: @length-sm-2 0;
  }
}

.form {
  display: flex;
  align-items: center;

  & h3 {
    .fw(500);
    .mr(@length-sm-3);
    font-size: 1.5rem;
  }

  &__search {
    position: relative;
    margin-right: @length-sm-3;
    width: 25rem;

    & input[type="search"] {
      width: 100%;
      padding-left: 3rem;
    }

    & i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: @length-sm-2;
      color: @text-color-2;
    }
  }

  &__group {
    &:not(:last-child) {
      .mr(@length-sm-3);
    }
  }

  &__input {
    display: inline-block;
    background-color: @input-bg;
    border: none;
    padding: @length-sm-2 @length-sm-2;
    height: 3.5rem;
    border: 2px solid transparent;
    .fw(600);
    border-radius: 3px;
    color: @text-color-2;
    width: 15rem;

    &:focus {
      outline: none;
      border: 1px solid @accent-color;
    }
  }
}

.section__property {
  background-color: @input-bg;
  padding: @length-sm-2 @length-lg-1;
}

.tab {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h3 {
      font-size: 1.6rem;
    }
  }

  &__heads {
    display: flex;
    align-items: center;
  }

  &__head {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    background-color: @primary-color;
    padding: @length-sm-2 @length-md-2;
    .fw(500);
    border-radius: 3px;
    transition: all 0.3s ease;
    .text-transform(capitalize);
    cursor: pointer;

    & i {
      display: inline-block;
      .mr(@length-sm-1);
      font-size: 1.8rem;
    }

    &:not(:last-child) {
      .mr(@length-sm-3);
    }

    &:hover,
    &.active {
      background-color: @accent-color;
      color: @primary-color;
    }
  }

  &__content {
    display: none;

    &.active {
      display: block;
    }
  }
}

.property {
  columns: 6;
  gap: @length-sm-3;
  .mt(@length-md-1);

  &__box {
    background-color: @primary-color;
    break-inside: avoid;
    overflow: hidden;
    border-radius: 0.8rem;
    .mb(@length-sm-3);
    box-shadow: 0 3px 0.6rem rgba(0, 0, 0, 0.1);
  }

  &__img {
    position: relative;
    width: 100%;
  }

  &__content {
    padding: @length-sm-3 @length-md-1;
  }

  &__price {
    display: inline-block;
    background-color: @accent-color;
    color: @primary-color;
    font-size: 1.2rem;
    padding: @length-sm-1 @length-sm-2;
    border-radius: 0.3rem;
    .fw(500);
    .mb(@length-sm-3);
  }

  &__feature {
    display: flex;
    align-items: center;
    .mb(@length-sm-3);
  }

  &__icon {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      .mr(@length-md-1);
    }

    & img {
      width: 2rem;
      .mr(@length-sm-2);
    }

    & span {
      font-size: 1.4rem;
      .fw(500);
    }
  }

  &__location {
    font-size: 1.4rem;
    .fw(500);

    & i {
      color: @misc;
    }

    & span {
      .ml(@length-sm-1);
    }
  }

  &__float {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    background-color: @primary-color;
    padding: @length-sm-1 @length-sm-2;
    border-radius: 3px;
    cursor: pointer;

    & img {
      width: 1.5rem;
    }
  }

  &__fav {
    display: inline-block;
    width: 1.5rem;
    .ml(auto);
    cursor: pointer;
  }
}
