@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-color: #fff;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
::selection {
  background-color: #62a658;
  color: #fff;
}
.top {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 3rem;
  box-shadow: 0 3px 0.6rem rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}
.top.active {
  display: block;
}
.container {
  margin: 0 auto;
  width: 120rem;
  max-width: 120rem;
}
.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  background: none;
  border: none;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  height: 3.5rem;
}
.btn__accent {
  background-color: #62a658;
  color: #fff;
  padding: 0.8rem 2.4rem;
}
.nav__top {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
}
.nav__logo {
  width: 15rem;
}
.nav__right {
  display: flex;
  align-items: center;
}
.nav__item,
.nav__misc {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__list {
  margin-right: 2.4rem;
}
.nav__link {
  color: #000;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 500;
}
.nav__link span {
  margin: 0 0.4rem;
}
.nav__misc li {
  margin-right: 2.4rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.nav__misc li.day {
  border: 2px solid #dddddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__misc li.day img {
  width: 2.5rem;
}
.nav__misc li img {
  width: 100%;
}
.nav__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0;
}
.form {
  display: flex;
  align-items: center;
}
.form h3 {
  font-weight: 500;
  margin-right: 1.2rem;
  font-size: 1.5rem;
}
.form__search {
  position: relative;
  margin-right: 1.2rem;
  width: 25rem;
}
.form__search input[type="search"] {
  width: 100%;
  padding-left: 3rem;
}
.form__search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.8rem;
  color: #333;
}
.form__group:not(:last-child) {
  margin-right: 1.2rem;
}
.form__input {
  display: inline-block;
  background-color: #f5f5f5;
  border: none;
  padding: 0.8rem 0.8rem;
  height: 3.5rem;
  border: 2px solid transparent;
  font-weight: 600;
  border-radius: 3px;
  color: #333;
  width: 15rem;
}
.form__input:focus {
  outline: none;
  border: 1px solid #62a658;
}
.section__property {
  background-color: #f5f5f5;
  padding: 0.8rem 3.2rem;
}
.tab__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tab__header h3 {
  font-size: 1.6rem;
}
.tab__heads {
  display: flex;
  align-items: center;
}
.tab__head {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  background-color: #fff;
  padding: 0.8rem 2rem;
  font-weight: 500;
  border-radius: 3px;
  transition: all 0.3s ease;
  text-transform: capitalize;
  cursor: pointer;
}
.tab__head i {
  display: inline-block;
  margin-right: 0.4rem;
  font-size: 1.8rem;
}
.tab__head:not(:last-child) {
  margin-right: 1.2rem;
}
.tab__head:hover,
.tab__head.active {
  background-color: #62a658;
  color: #fff;
}
.tab__content {
  display: none;
}
.tab__content.active {
  display: block;
}
.property {
  columns: 6;
  gap: 1.2rem;
  margin-top: 1.6rem;
}
.property__box {
  background-color: #fff;
  break-inside: avoid;
  overflow: hidden;
  border-radius: 0.8rem;
  margin-bottom: 1.2rem;
  box-shadow: 0 3px 0.6rem rgba(0, 0, 0, 0.1);
}
.property__img {
  position: relative;
  width: 100%;
}
.property__content {
  padding: 1.2rem 1.6rem;
}
.property__price {
  display: inline-block;
  background-color: #62a658;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.property__feature {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
.property__icon {
  display: flex;
  align-items: center;
}
.property__icon:not(:last-child) {
  margin-right: 1.6rem;
}
.property__icon img {
  width: 2rem;
  margin-right: 0.8rem;
}
.property__icon span {
  font-size: 1.4rem;
  font-weight: 500;
}
.property__location {
  font-size: 1.4rem;
  font-weight: 500;
}
.property__location i {
  color: #ffcc40;
}
.property__location span {
  margin-left: 0.4rem;
}
.property__float {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  background-color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  cursor: pointer;
}
.property__float img {
  width: 1.5rem;
}
.property__fav {
  display: inline-block;
  width: 1.5rem;
  margin-left: auto;
  cursor: pointer;
}
